:root {
    --neon-green: #00ff41;
    --dark-bg: #0d0208;
    --danger:"#ff3e3e";
    --warning: #f7e007;
}

body {
    background-color: var(--dark-bg);
    color: var(--neon-green);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    border: 2px solid var(--neon-green);
    padding: 2rem;
    box-shadow: 0 0 15px var(--neon-green);
    max-width: 500px;
    width: 100%;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.input-group {
    margin-bottom: 20px;

}
input {
    width: 100%;
    background: transparent;
    border: 1px solid var(--neon-green);
    color: aliceblue;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

#strenght-bar {
    height: 10px;
    width: 0%;
    background-color: var(--danger);
    transition: width 0.5s background-color 0.5s;
    margin-top: 5px;

}

.terminal-box {
    background: rgba(0,255,65,0.1);
    border: 1px solid var(--neon-green);
    height: 150px;
    overflow-y: auto;
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 20px;

}

.btn-scan {
    width: 100%;
    background-color: var(--neon-green);
    color: black;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.btn-scan:hover {
    background-color: white;

}
.log-entry {
    margin-bottom: 5px;
    border-left: 3px solid var(--neon-green);
    padding-left: 5px;
}