/* reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* Colocando uma imagem no Corpo */
body {
     background-image: url();
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}



/* HEADER */
.header {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyMG01bXQ2eTY0bm54NzRvcTdhcDJ5aWZqeWZ0aXVobTNiZHc1dGh1aCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/lQDdDwdZpfYRn1MsJy/200w.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 45px;
}
.header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LAYOUT PRINCIPAL */
.container {
    display: flex; 
    min-height: 80vh;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: #333;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

/* CONTEÚDO */
.content {
    flex: 1; /* ocupa o resto da tela */
    padding: 20px;
    gap: 20px;
    border: 10xp solid black;

}

/* CARDS */
.cards {
    display: flex; 
    gap: 20px;
    flex-wrap: wrap; 
   
}

/* Separando em Colunas */
.porta {
    display: flex;            
    flex-direction: column;
    flex: 1 1 200px; 
    background: #f2eeee;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
}


.porta2 {
    display: flex;            
    flex-direction: column;
    flex: 1 1 200px; 
    background: #f2eeee;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
}

/* Estilizando as Imagens */
.porta img {
    width: 100%;
    border-radius: 8px;
    transition: 2s;
}
.porta img:hover{
                transform: scale(1.2);
}

.porta2 img {
    width: 100%;
    border-radius: 8px;
}
.porta2 img:hover{
                transform: scale(1.2);
}
/* ------------------------------------------- */

/* Estilo do Butão */

.btn {
    display: inline-flex;
    padding: 10px 20px;
    background: #111112;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    margin-top: auto;
    align-self: center;

}

/* Botão */

.darkBtn {
    background-color: #111112;
    color: #f2eeee;
    font-weight: 200;
    cursor: pointer;


}



/* FOOTER */
.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}



